.student-info-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.student-info-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: var(--white, #f5f5f5);
  border-radius: 20px;
    padding: 24px;
}

.student-info-right {
  display: flex;
  flex-direction: column;
  
  justify-content: space-between;
  align-items: flex-end;
  gap: 24px;
}
.student-info-right button {
  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 100%;
    width: 100%;
}