.student-form {
    display: flex;
    
    gap: 24px;
    align-items: flex-start;
    flex-wrap: wrap;
    
  }
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: auto;
  }
  .student-form label {
    font-weight: 500;
    margin-bottom: 4px;
  }
  
  .student-form input,
  .student-form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 500px;
    background: var(--gray-300, #e0e0e0);
    border: none;
    border-radius: 20px;
    padding: 12px 16px;
    font-size: 1rem;
    margin-bottom: 0;
    outline: none;
    box-sizing: border-box;
    
    
  }
  .student-form select {
    background: var(--gray-300, #e0e0e0) url("data:image/svg+xml;utf8,<svg fill='gray' height='16' viewBox='0 0 20 20' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M7.293 7.293a1 1 0 011.414 0L10 8.586l1.293-1.293a1 1 0 111.414 1.414l-2 2a1 1 0 01-1.414 0l-2-2a1 1 0 010-1.414z'/></svg>") no-repeat right 16px center/18px 18px;
    cursor: pointer;
    }
  
  .student-form input[type="date"] {
    color: var(--gray-900, #212121);
    appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  }
  .student-form input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
  cursor: pointer;
  margin-right: 8px;
}
  
  .student-form button[type="submit"] {
    width: 100%;
    border-radius: 20px;
    padding: 12px 42px;
    background: var(--primary-orange, #E54923);
    color: var(--white, #fff);
    border: none;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .student-form button[type="submit"]:disabled {
    background: var(--gray-500, #ACB1B1);
    cursor: not-allowed;
  }
  
  .success {
    color: green;
    font-weight: 500;
  }
  
  .error {
    color: red;
    font-weight: 500;
  }
