<div class="sidebar">
  <div class="sidebar-top">
    <div class="logo" [routerLink]="['/']">
      <img src="logo.svg" alt="Mathoria Logo" height="32" style="vertical-align: middle; margin-right: 8px;">
    </div>
    
    <div class="nav-links">
      <ul style="list-style: none; padding: 0; margin: 0;">
        <li *ngFor="let item of navItems" style="margin-bottom: 12px;">
          <a
            [routerLink]="item.path"
            routerLinkActive="active"
            class="nav-link"
            [ngClass]="{'active': isActive(item.path)}"
          >
            <div class="nav-link-icon" >
              <img
                [src]="'icons/' + item.icon + (isActive(item.path) ? '-fill' : '') + '.svg'"
                alt="{{item.label}}"
                width="20"
                height="20"
              >
            </div>
            <span>{{item.label}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="sidebar-bottom ">
    <button class="btn-secondary">
      <img src="icons/gear.svg" alt="Settings" width="20" height="20" style="vertical-align: middle; margin-right: 8px;">
      Settings
    </button>
    <button class="btn-primary" (click)="logout()">
      <img src="icons/sign-out.svg" alt="Logout" width="20" height="20" style="vertical-align: middle; margin-right: 8px;">
      Logout
    </button>
  </div>
</div>
