.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    height: 100vh;
    background: var(--gray-100, #f5f5f5);
    box-sizing: border-box;
  }
  
  .sidebar-top {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
  
  .logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-orange, #ff9800);
    margin-bottom: 0;
    cursor: pointer;
  }
  
  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    margin-bottom: 12px;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 20px;
    text-decoration: none;
    color: var(--gray-900);
    font-weight: 500;
    transition: background 0.2s, color 0.2s;
  }
  .nav-link.nav-link.active{
    font-weight: 900;
  }
  .nav-link.active,
  .nav-link:hover {
    background: var(--gray-300);
    color: var(--black);
  }
  
  .nav-link-icon {
    background: #fff;
    padding: 8px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sidebar-bottom {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }


